@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,300,400italic,600,700);

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: 'Josefin Sans', sans-serif;
}


body {
  background: url('images/orange-turq.png') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


h1 {
  font-size: 40px;
  font-weight: 100;
  color: #000;
  line-height: 48px;

}


h2 {
  font-weight: bold;
  font-size: 24px;
  color: #000;

}


h3 {

  font-weight: bold;
  font-size: 20px;
  color: #000;

}


h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;

}


p {
  font-size: 18px;
  color: #000;

}

.topNav li {
  display: inline;
}

#titleContainer {
  text-align: center;
  margin-top: 20%;

}

#titleContainer h2 {
  margin-top: 2%;
}


#titleName {
  font-size: 70px;
}
/* Arrow image indicating to scroll down */
#scrollDown {
  opacity: 0.5;
  max-width: 5%;
  margin-bottom: 25%;

}


#portfolio {
  margin-top: 20%;
}


#scrollDown:hover {
  opacity: 1;
}

#topImages {
  background-color: #57aca2;
  padding: 5% 0 5% 0;


}



.main {
  background-color: #f6f6f6;
}

#topImages {
  padding-left: 10%;
}


#topImages img {
  max-width: 30%;
  opacity: .7;
   border-radius:50px;
  padding: 10px;
}

#topImages img:hover {
  opacity: 1;
}


.project {
  padding-top: 5%;
  padding-bottom: 5%;

}


.project img {
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 10px;
  width: 100%;
  opacity: 0.8;
}

.project img:hover {
  opacity: 1;
}


